nav {
    width: 900px;
    margin: auto;
    background-color: #df6262;
}





ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul li{
    display: inline-block;
    
}

ul li a {
    text-decoration: none;
    padding: 10px;
    color: #f2f2f2;
    display: block;
}

ul li ul {
    background-color: #df6262;
    display: none;
    position: absolute;
    padding: 0;
}

ul li:hover ul {
    display: block;
}

ul li ul li {
    display: block;
    width: 100%;
}

ul li ul li a {
    padding: 10px;
    color:  #f2f2f2;
}

ul li ul li a:hover {
    background-color: #f2f2f2;
    color:#df6262;
}

