table {
    margin: 50px auto;
    border-spacing: 0px;
    border-collapse: collapse;
}

th {
    background-color: teal;
    color:white;
    padding: 8px;
    border: 1px solid black;
}

td {

    padding: 8px;
    border: 1px solid teal;
    /* border-bottom: 1px solid teal; */
}

tr:nth-child(even) {
    background-color: bisque;
}
/* odd,even ,n+1,n+3,2n-1*/