.kotak {
    width: 200px;
    height: 100px;
    background-color: green;
    margin: 200px auto;
    /* transform: rotate(45deg); */
    transition: 1s;
}

.kotak:hover{
    /* transform: rotate(45deg) */
    /* transform: scale(2); */
    /* transform: translate(50px,20px); horizontal, vertikal */
    transform: skew(-20deg);

}