.kotak {
    width: 300px;
    height: 50px;
    background-color: teal;
    margin: 100px;

    /* transition-duration: 1s;
    /* transition-property: margin ; */
    /* transition-delay: 2s;
    transition-timing-function: ease; */ 

    transition: 1s margin 2s ease;
}

.kotak:hover {
    width: 900px;
    margin-left:300px; 
    background-color: aqua; 
}